name: CI

on:
  push:
    branches:
    - main
    tags:
    - v[0-9]+.[0-9]+.[0-9]+**
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Prepare Test Files
      run: ln -s $(pwd)/src/query_parser/codex ontology

    - name: Build the stack
      run: docker-compose up -d

    - name: Test Query Endpoint
      run: docker run --network container:codex-flare_flare_1 -v $(pwd)/src/query_parser/i2b2:/i2b2 appropriate/curl -vX POST --data @/i2b2/i2b2_gecco_demo.xml -H "Content-type:i2b2/xml" -H "Accept:internal/xml" http://localhost:5000/query

  build:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Prepare Version
      id: prep
      run: |
        echo ::set-output name=repository::$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')
        echo ::set-output name=version::${GITHUB_REF#refs/tags/v}

    - name: Login to GitHub Docker Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        tags: |
          ghcr.io/${{ steps.prep.outputs.repository }}:${{ steps.prep.outputs.version }}
          ghcr.io/${{ steps.prep.outputs.repository }}:latest
        push: true
